<h2>{{ recept.title }}</h2>

{% if recept.image %}
<img src="{{ url_for('serve_image', image_id=recept.image) }}" class="img-fluid mb-4 mt-3" alt="Slika recepta">
{% endif %}

{% if recept.description %}
<p><strong>Kratki opis:</strong> {{ recept.description }}</p>
{% endif %}

<p><strong>Autor:</strong> {{ recept.user_id }}</p>
<p><strong>Kategorija:</strong> {{ recept.category }}</p>
{% if recept.vrijeme_pripreme %}
<p><strong>Vrijeme pripreme:</strong> {{ recept.vrijeme_pripreme }} minuta</p>
{% endif %}
<p><strong>Datum:</strong> {{ recept.date.strftime('%d.%m.%Y') }}</p>
<p><strong>Status:</strong> {{ recept.status|localize_status }}</p>

{% if recept.tags %}
<p><strong>Oznake:</strong>
    {% for tag in recept.tags.split(',') %}
        <span class="badge bg-secondary">{{ tag.strip() }}</span>
    {% endfor %}
</p>
{% endif %}

<hr>

<h4>Sastojci</h4>
<div class="mb-3">
    {{ recept.ingredients | markdown | safe }}
</div>

<h4>Upute za pripremu</h4>
<div class="mb-3">
    {{ recept.instructions | markdown | safe }}
</div>
